* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
}

#container-content {
    direction: rtl;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15em;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
}

#form>h1 {
    font: normal normal 900 43px/63px Heebo;
    letter-spacing: 0px;
    color: #020253;
}

#form>p {
    font: normal normal normal 20px/29px Heebo;
    letter-spacing: 0px;
    color: #020253;
}

.form-control {
    display: flex;
    flex-direction: column;
}